// подключение шрифтов
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

// переменные
$fontfamily: "Lato";
$minwidth: "320px";

// обнуление
@import "null.scss";

// стили страниц и элементов
@import "header.scss";
@import "footer.scss";

// *Миксины: 10:45

body {
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  &__slider {
    background-color: #f7f7f7;
  }
}
.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img {
    display: none;
  }
}

// MAIN========================================================================
.page {
  // чтобы картинка была на весь экран (абсолют и ширина\величина 100% относительно экрана. Остальной контент будет появляться при скролле)
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  // чтобы скрыть фантомные отступы, которые могут появляться
  // font-size: 0px;
}
.main-screen {
  // растягиваем на весь экран и запрещаем уменьшаться
  flex: 1 0 100%;
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.content {
}

// generation========================================================================
.generation {
  background-color: #f7f7f7;
  padding: 12rem 0;
  &__block {
  }

  @media (max-width: 900px) {
    padding: 8rem 0;
  }
  @media (max-width: 600px) {
    padding: 3rem 0;
  }
}
.block {
  text-align: center;
  &__icon {
    margin: 0 0 3rem 0;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 3.6px;
    line-height: 1.2;
    color: #353738;
    text-transform: uppercase;
    margin: 0 0 2.7rem 0;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 1.89;
    &_j {
      text-align: justify;
      line-height: 1.88;
      &::after {
        content: "";
        width: 50px;
        height: 1px;
        background-color: #d7d7d7;
        display: block;
        margin: 3.5rem auto 0 auto;
      }
    }
  }

  @media (max-width: 1500px) {
    &__text {
      &_j {
        &::after {
          margin: 1.5rem auto 0 auto;
        }
      }
    }
  }
}

// brands========================================================================
.brands {
  &_rev {
    .brands__column {
      order: 1;
      &_big {
        order: 2;
      }
    }
  }
  &__last {
  }
  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 33.333%;
    &_big {
      flex: 0 1 66.667%;
    }
  }

  &__item {
  }

  &__content {
    padding: 7rem 6.5rem 5.4rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
    }
  }

  &__image {
    padding: 0 0 37.51% 0;
  }

  @media (max-width: 1500px) {
    &__content {
      padding: 4rem 3.5rem 3rem;
    }
  }
  @media (max-width: 1100px) {
    &__last {
      .brands__column {
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          order: 1;
        }
        &:nth-child(3) {
          order: 3;
        }
      }
    }
    &__row {
      flex-direction: column;
    }
  }
}
.item {
  height: 100%;
  display: block;
  position: relative;
  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(105, 177, 151, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease 0s;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover {
    .item__logo {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-width: 1100px) {
    height: auto;
    padding-bottom: 60%;
  }
}

// slider========================================================================
.slider {
  padding: 12rem 0 6rem;
  &__body {
    text-align: center;
  }

  &__item {
  }

  &__icon {
    margin-bottom: 3.5rem;
  }

  &__title {
    font-size: 1.8rem;
    letter-spacing: 1.8px;
    font-weight: bold;
    color: #353738;
    span {
      font-weight: lighter;
      color: #848789;
    }
  }

  &__text {
    font-size: 2.4rem;
    font-style: italic;
    line-height: 1.42;
    margin-top: 2rem;
  }

  .swiper-pagination-bullet {
    border: solid 1px #c8c8c8;
    background-color: transparent;
    width: 1.1rem;
    height: 1.1rem;
  }
  .swiper-pagination-bullet-active {
    background-color: #a9afb3;
  }
  .swiper-pagination {
    position: relative;
    padding-top: 10rem;
  }

  @media (max-width: 769px) {
    padding: 8rem 0 4rem;
  }
}

// shop========================================================================
.shop {
  &__body {
    display: flex;
  }

  &__column {
    flex: 0 1 16.666%;
    &_big {
      flex: 0 1 33.333%;
    }
  }

  &__block {
  }

  &__footer {
    background-color: #282f35;
    padding: 7.5rem 0;
    text-align: center;
  }

  &__btn {
    display: inline-block;
    min-height: 5rem;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 2.8px;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 2rem 5.7rem;
    color: #ffffff;
    border: solid 1px rgba(255, 255, 255, 0.5);
  }

  @media (max-width: 1100px) {
    &__body {
      flex-wrap: wrap;
    }
    &__column {
      flex: 0 1 50%;
      &_big {
        flex: 1 1 100%;
      }
    }
  }
  @media (max-width: 426px) {
    &__footer {
      padding: 4rem 0;
    }
    &__btn {
      padding: 1.5rem 2.5rem;
    }
  }
}
.block-shop {
  height: 100%;
  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 50%;
  }

  &__item {
    height: auto;
    padding: 0 0 50% 0;
    &_big {
      padding: 0 0 200.5% 0;
    }
    &_l {
      padding: 0 0 100% 0;
    }
  }
}

//subscribe ====================================================================
.subscribe {
  &__body {
    max-width: 53.4rem;
    margin: 0 auto;
    text-align: center;
    padding: 11rem 0;
  }

  &__logo {
    margin-bottom: 3.9rem;
  }

  &__label {
    font-size: 2.4rem;
    font-style: italic;
    line-height: 1.42;
    color: #848789;
    margin-bottom: 3.5rem;
  }

  &__form {
    display: flex;
  }

  &__input {
    flex: 1 1 auto;
    padding: 0 0.8rem 0 0;
    .input {
      width: 100%;
      height: 6.9rem;
      border: solid 1px #d3d7d9;
      padding: 2.8rem;
      font-size: 2rem;
      font-style: italic;
      color: #929292;
      &.focus {
        color: black;
        font-style: normal;
      }
      &.error {
        border: 1px solid red;
      }
    }
  }

  &__button {
    flex: 0 0 12.6rem;
  }

  &__btn {
    width: 100%;
    height: 6.9rem;
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #64c29e;
    color: #fff;
  }

  @media (max-width: 750px) {
    &__body {
      padding: 5rem 0;
    }
  }
  @media (max-width: 500px) {
    &__form {
      display: block;
    }
    &__input {
      padding: 0 0 0.8rem 0;
    }
  }
}
